@page
@model TesteProjetoFront.Views.Home.IndexHomeModel
@{
}

<div class="jumbotron">
    <h1>Bem-vindo à Faculdade</h1>
    <p>Somos uma instituição comprometida com a excelência acadêmica e o sucesso dos nossos alunos.</p>
    <p>Oferecemos uma variedade de cursos e programas educacionais para atender às necessidades dos nossos estudantes.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Próximos Eventos</h2>
        <ul>
            <li>Evento 1 - Data e Hora</li>
            <li>Evento 2 - Data e Hora</li>
            <li>Evento 3 - Data e Hora</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Contato</h2>
        <p>Entre em contato conosco para mais informações:</p>
        <address>
            Endereço: Rua XYZ, 123 - Cidade, Estado<br />
            Telefone: (11) 1234-5678<br />
            Email: contato@faculdadexyz.com
        </address>
    </div>
</div>
