@model TesteProjetoFront.Models.Turma

<h1>Cadastrar Turma</h1>

<form asp-action="CreateTurma" method="post">
    <div class="form-group">
        <label>Curso:</label>
        <select asp-for="IdCurso" class="form-control" asp-items="@Model.Cursos">
            <option value="">Selecione um Curso</option>
        </select>
        <span asp-validation-for="IdCurso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Nome:</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Ano:</label>
        <input asp-for="Ano" class="form-control" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
